.tarjeta {
  background-color: var(--blanco-beat);
  color: var(--negro-beat);
  width: 330px;
  height: 220px;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem;
  flex-direction: column;
  margin: 0.5rem;
  cursor: pointer;
  &:hover{
    color: var(--azul-beat);
  }
  h3{
    margin: 0;
  }
  .boton{
    display: flex;
    justify-content: space-between;
  }
  .seccion-arriba {
    text-transform: uppercase;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .seccion-medio {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
  }

}

.noMostrar{
  display: none;
}

.seleccionado{
  
  box-shadow: 0px 0px 10px 0px var(--negro-beat);
}
