<div class="tarjeta bg-warning" [ngClass]="{ noMostrar: !mostrar }">
  <div class="boton">
    <h3>{{ cliente.idcliente }}</h3>
    <app-boton (enviarAccion)="mostrar = false" [estilo]="'close'"></app-boton>
  </div>

  <div class="seccion-arriba ">
    <h5 class="alias text-truncate">{{ cliente.alias }}</h5>
  </div>

  <div
    class="seccion-medio"
    *ngIf="
      cliente.comercial ||
      cliente.poblacion ||
      cliente.telefono ||
      cliente.email
    "
  >
    <div class="comercial">
      <h6>Comercial: {{ cliente.comercial }}</h6>
    </div>
    <div class="poblacion">
      <h6>Poblacion: {{ cliente.poblacion }}</h6>
    </div>
    <div class="telefono">
      <h6>Telefono: {{ cliente.telefono == 0 ? "" : cliente.telefono }}</h6>
    </div>

    <div class="correo">
      <h6 class="text-truncate">E-mail: {{ cliente.email }}</h6>
    </div>
  </div>
</div>
