<div class="tarjeta" [ngClass]="{'noMostrar': !mostrar}">
  <div class="seccion-arriba">
    <h3 class="alias text-truncate">{{ cliente.alias }}</h3>
    <app-boton (enviarAccion)="mostrar = false"  [estilo]="'close'"></app-boton>
  </div>

  <div class="seccion-medio" *ngIf="cliente.comercial&&cliente.poblacion&&cliente.telefono">
    <div class="comercial " ><h5 class="text-truncate">{{ cliente.comercial }}</h5> </div>
    <div class="poblacion" ><h5>{{ cliente.poblacion }}</h5></div>
    <div class="telefono" > <h5>{{ (cliente.telefono==0)?'':cliente.telefono }}</h5></div>
  </div>
  <div class="seccion-abajo" *ngIf="cliente.email">
    <div class="correo"  *ngIf="cliente.email">{{ cliente.email }}</div>
  </div>
</div>
