.tarjeta {
  background-color: var(--roto-beat);
  color: var(--negro-beat);
  box-shadow: 0px 0px 20px 0px var(--roto-beat);
  width: 330px;
  height: 220px;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem;
  flex-direction: column;
  margin: 0.5rem;
  &:hover{
    box-shadow: 0px 0px 20px 0px var(--amarillo-beat);
  }
  &:active{
    background-color: var(--roto-beat);
  }
  h3{
    margin: 0;
  }
  .boton{
    display: flex;
    justify-content: space-between;
  }
  .seccion-arriba {
    text-transform: uppercase;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .seccion-medio {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    // div{
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    //   width: 33%;
    //   h5{
    //     margin: 0;
    //   }
    // }
    // .comercial{
    //   border-right: 1px solid var(--negro-beat);
    //   padding-right: 0.5rem;
    // }
    // .poblacion{

    //   padding-left: 0.5rem;
    //   padding-right: 0.5rem;
    // }
    // .telefono{
    //   border-left: 1px solid var(--negro-beat);
    //   padding-left: 0.5rem;
    // }
  }

}

.noMostrar{
  display: none;
}
