<div class="tarjeta">
  <div class="seccion-arriba">
    <h3 class="alias text-truncate">{{ cliente.alias }}</h3>
  </div>

  <div class="seccion-medio">
    <h5 class="comercial text-truncate" *ngIf="cliente.comercial">{{ cliente.comercial }} </h5>
    <h5 class="poblacion" *ngIf="cliente.poblacion">{{ cliente.poblacion }}</h5>
    <h5 class="telefono" *ngIf="cliente.telefono"> {{ cliente.telefono }}</h5>
  </div>
  <div class="seccion-abajo">
    <h5 class="correo"  *ngIf="cliente.email">{{ cliente.email }}</h5>
  </div>
</div>
