div{
  display: flex;
}
.btn{
  min-width: 30px;
  border-radius: 0px;
  box-shadow: none;
  height: 30px;
  background-color: var(--gris-beat);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: whitesmoke;
  font-weight: bolder;
}

.boton-left{
  border-radius: 5px 0 0 5px;
}
.boton-right{
  border-radius: 0 5px 5px 0;
}

.noMostrar{
  display: none;
}

.azul{
  background-color: forestgreen;
}

.gris{
  background-color: grey;
}

.negro{
  background-color: indianred;
}

.sm{
  height: 31px;
}
