<app-boton
  class="buscar"
  [estilo]="'danger'"
  [etiqueta]="'Borrar Usuario'"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
></app-boton>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body cuerpo-modal">
        <p>Al confirmar se eliminara el cliente seleccionado de la Base de Datos.
            ¿Esta seguro de eliminar el usuario?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="eliminar()" data-bs-dismiss="modal">
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>

