<div class="contenedor-general">
  <div class="contenedor-cabecera">
    <div class="contenedor-filtros">
      <div class="contenido-filtro">
        <app-input [etiqueta]="'Num Cliente:'"></app-input>
        <app-boton class="vaciar" [estilo]="'3'" [etiqueta]="'X'"></app-boton>
      </div>
      <div class="contenido-filtro">
        <app-input [etiqueta]="'Alias:'"></app-input>
        <app-boton class="vaciar" [estilo]="'3'" [etiqueta]="'X'"></app-boton>
      </div>
      <div class="contenido-filtro">
        <app-input [etiqueta]="'Provincia:'"></app-input>
        <app-boton class="vaciar" [estilo]="'3'" [etiqueta]="'X'"></app-boton>
      </div>
      <div class="contenido-filtro">
        <app-input [etiqueta]="'Documento:'"></app-input>
        <app-boton class="vaciar" [estilo]="'3'" [etiqueta]="'X'"></app-boton>
      </div>
    </div>

    <div class="contenedor-botones">
      <div class="boton-filtro">
        <app-boton
          class="limpiar"
          [estilo]="'1'"
          [etiqueta]="'Limpiar Filtros'"
        ></app-boton>
        <app-boton
          class="buscar"
          [estilo]="'4'"
          [etiqueta]="'Buscar'"
        ></app-boton>
        <app-boton
          class="buscar"
          [estilo]="'2'"
          [etiqueta]="'Crear Usuario'"
        ></app-boton>
      </div>
    </div>
  </div>
  <div class="contenedor-cuerpo">
    <div class="contenedor-tarjeta">
      <app-tarjeta-cliente
        *ngFor="let i of clientes"
        class="tarjetas"
        [cliente]="i"
      ></app-tarjeta-cliente>
    </div>
    <div class="contenedor-dato">
      <div class="datos-personales">
        <div class="titulo-vaciar">
          <h4>Datos Personales</h4>
          <app-boton
            class="vaciar-Datos"
            [etiqueta]="'Vaciar'"
            [estilo]="'1'"
          ></app-boton>
          <app-boton [etiqueta]="'Modificar'" [estilo]="'3'"></app-boton>
        </div>
        <div class="seccion">
          <app-input
            [etiqueta]="'Numero de cliente'"
            [valorInput]="clienteSeleccionado.numero"
          ></app-input>
          <app-input
            [etiqueta]="'Documento:'"
            [valorInput]="clienteSeleccionado.documento"
          ></app-input>
        </div>
        <app-input
          [etiqueta]="'Nombre:'"
          [valorInput]="clienteSeleccionado.nombre"
        ></app-input>

        <app-input
          [etiqueta]="'Alias'"
          [valorInput]="clienteSeleccionado.alias"
        ></app-input>
        <label for="Notas">Notas: </label>
        <app-text-area [valorInput]="clienteSeleccionado.notas"></app-text-area>
      </div>
      <div class="datos-contacto">
        <div class="titulo-vaciar">
          <h4>Datos de Contacto</h4>
          <app-boton
            class="vaciar-Datos"
            [etiqueta]="'Vaciar'"
            [estilo]="'1'"
          ></app-boton>
          <app-boton [etiqueta]="'Modificar'" [estilo]="'3'"></app-boton>
        </div>
        <app-input
          [etiqueta]="'Direccion:'"
          [valorInput]="clienteSeleccionado.direccion"
        ></app-input>
        <div class="seccion">
          <app-input
            [etiqueta]="'Poblacion:'"
            [valorInput]="clienteSeleccionado.poblacion"
          ></app-input>
          <app-input
            [etiqueta]="'Provincia:'"
            [valorInput]="clienteSeleccionado.provincia"
          ></app-input>
          <app-input
            [etiqueta]="'Codigo Postal:'"
            [valorInput]="clienteSeleccionado.codigo_postal"
          ></app-input>
        </div>
        <div class="seccion">
          <app-input
            [etiqueta]="'Telefono:'"
            [valorInput]="clienteSeleccionado.telefono"
          ></app-input>
          <app-input
            [etiqueta]="'Comercial:'"
            [valorInput]="clienteSeleccionado.comercial"
          ></app-input>
        </div>
        <app-input
          [etiqueta]="'Email:'"
          [valorInput]="clienteSeleccionado.email"
        ></app-input>

        <app-input
          [etiqueta]="'Razon Social:'"
          [valorInput]="clienteSeleccionado.razon_social"
        ></app-input>
      </div>
      <app-boton
        class="boton-crear"
        [estilo]="'2'"
        [etiqueta]="'Crear'"
      ></app-boton>
    </div>
  </div>
</div>
