<div class="contenedor-general">
  <div class="contenedor-cabecera">
    <div class="contenedor-filtros">
      <app-input class="contenido-filtro" [etiqueta]="'Num Cliente:'" [botonBorrar]="true" [size]="'sm'"
        [valorInput]="filtros.codigo" (changed)="cambioCodigo($event)" #numCliente></app-input>
      <app-input class="contenido-filtro" [etiqueta]="'Alias:'" [botonBorrar]="true" [size]="'sm'"
        [valorInput]="filtros.alias" (changed)="cambioAlias($event)" #alias></app-input>
      <app-input class="contenido-filtro" [etiqueta]="'Provincia:'" [botonBorrar]="true" [size]="'sm'"
        [valorInput]="filtros.provincia" (changed)="cambioProvincia($event)" #provincia></app-input>
      <app-input class="contenido-filtro" [etiqueta]="'Documento:'" [botonBorrar]="true" [size]="'sm'"
        [valorInput]="filtros.documento" (changed)="cambioDocumento($event)" #documento></app-input>
      <app-switch (changed)="cambioFiltroActivo($event)" [valorInput]="filtros.activo"></app-switch>
    </div>
    <div class="contenedor-botones">
      <app-boton [estilo]="'warning'" [etiqueta]="'Limpiar Filtros'" (click)="
          filtros.codigo = '';
          filtros.alias = '';
          filtros.provincia = '';
          filtros.documento = '';
          filtros.activo = ''
        "></app-boton>
      <app-boton [etiqueta]="'Buscar'" (click)="buscar()"></app-boton>
      <app-boton [estilo]="'danger'" [etiqueta]="'Borrar'" (click)="mostrarModalBorrar = true"></app-boton>
      <app-boton [estilo]="'success'" [etiqueta]="'Crear Usuario'" (click)="mostrarModalCrear = true"></app-boton>
    </div>
  </div>
  <div id="contenedor-cuerpo">
    <div id="contenedor-tarjeta" [ngStyle]="{ 'height.px': alto_contenedor_tarjetas }">
      <app-tarjeta-cliente class="tarjeta" *ngFor="let i of clientes" [cliente]="i"
        [clienteSeleccionado]="clienteMarcado" (tarjetaSelec)="mostrarSeleccionado(i)">
      </app-tarjeta-cliente>
    </div>

    <div class="contenedor-dato">
      <div class="datos">
        <div class="titulo-vaciar">
          <h4>Datos Personales</h4>
        </div>
        <div class="seccion">
          <app-input [etiqueta]="'Numero de cliente'" [valorInput]="clienteSeleccionado.numero" [soloLectura]="true">
          </app-input>

          <app-input [etiqueta]="'Documento:'" [valorInput]="clienteSeleccionado.documento"
            (changed)="clienteSeleccionado.documento=$event"></app-input>
        </div>
        <app-input [etiqueta]="'Nombre:'" [valorInput]="clienteSeleccionado.nombre"
          (changed)="clienteSeleccionado.nombre=$event"></app-input>

        <app-input [etiqueta]="'Alias'" [valorInput]="clienteSeleccionado.alias"
          (changed)="clienteSeleccionado.alias=$event"></app-input>
        <app-input [etiqueta]="'Razon Social:'" [valorInput]="clienteSeleccionado.razon_social"
          (changed)="clienteSeleccionado.razon_social=$event"></app-input>

        <div class="boton-datos">
          <app-boton [etiqueta]="'Modificar'" [estilo]="'dark-sm'" (click)="modificarPersonales()"></app-boton>
        </div>
      </div>
      <div class="datos">
        <div class="titulo-vaciar">
          <h4>Datos de Contacto</h4>
        </div>
        <app-input [etiqueta]="'Direccion:'" [valorInput]="clienteSeleccionado.direccion"
          (changed)="clienteSeleccionado.direccion=$event"></app-input>
        <div class="seccion">
          <app-input [etiqueta]="'Poblacion:'" [valorInput]="clienteSeleccionado.poblacion"
            (changed)="clienteSeleccionado.poblacion=$event"></app-input>
          <app-input [etiqueta]="'Provincia:'" [valorInput]="clienteSeleccionado.provincia"
            (changed)="clienteSeleccionado.provincia=$event"></app-input>
          <app-input [etiqueta]="'Codigo Postal:'" [valorInput]="clienteSeleccionado.codigo_postal"
            (changed)="clienteSeleccionado.codigo_postal=$event"></app-input>
        </div>
        <div class="seccion">
          <app-input [etiqueta]="'Telefono:'" [valorInput]="clienteSeleccionado.telefono"
            (changed)="clienteSeleccionado.telefono=$event"></app-input>
          <app-input [etiqueta]="'Comercial:'" [valorInput]="clienteSeleccionado.comercial"
            (changed)="clienteSeleccionado.comercial= $event"></app-input>
        </div>
        <app-input 
          [etiqueta]="'Email:'" 
          [valorInput]="clienteSeleccionado.email"
          (changed)="clienteSeleccionado.email= $event">
        </app-input>

        <app-text-area [etiqueta]="'Notas:'" [valorInput]="clienteSeleccionado.notas"
          (changed)="clienteSeleccionado.notas= $event"></app-text-area>

        <div class="boton-datos">
          <app-boton [etiqueta]="'Modificar'" [estilo]="'dark-sm'" (click)="modificarContacto()"></app-boton>

          <app-switch [numeroSwitch]="2" [valorInput]="clienteSeleccionado.activo ? '1' : '0'"
            (changed)="clienteSeleccionado.activo = $event == '1'"></app-switch>
        </div>
      </div>
    </div>
  </div>
  <app-modal-dinamico class="crear-cliente" [mensaje]="'Esta seguro de borrar el cliente'" [titulo]="'Eliminar Cliente'"
    (cerrar)="mostrarModalBorrar = false" (confirmar)="eliminar()" [ngClass]="{ noMostrar: !mostrarModalBorrar }">
  </app-modal-dinamico>
  <app-modal-dinamico class="crear-cliente" [inputsText]="labelsCreacion" [subTitulo]="subtituloCreacion"
    [notas]="[['Notas:', 7], []]" [switch]="[7]" [titulo]="tituloCreacion" (cerrar)="mostrarModalCrear = false"
    (enviarDatosInputText)="guardarDatosInput($event)" (enviarDatosNotas)="guardarDatosNotas($event)"
    (enviarDatosSwitch)="guardarDatosSwitch($event)" (confirmar)="crearCliente()"
    [ngClass]="{ noMostrar: !mostrarModalCrear }">
  </app-modal-dinamico>
</div>