<div class="contenedor-general">
  <div class="contenedor-cabecera">
    <div class="contenedor-filtros">
      <app-input
        class="contenido-filtro"
        [etiqueta]="'Num Cliente:'"
        [botonBorrar]="true"
        [size]="'sm'"
        [valorInput]="filtros.codigo"
        (changed)="cambioCodigo($event)"
      ></app-input>
      <app-input
        class="contenido-filtro"
        [etiqueta]="'Alias:'"
        [botonBorrar]="true"
        [size]="'sm'"
      ></app-input>
      <app-input
        class="contenido-filtro"
        [etiqueta]="'Provincia:'"
        [botonBorrar]="true"
        [size]="'sm'"
      ></app-input>
      <app-input
        class="contenido-filtro"
        [etiqueta]="'Documento:'"
        [botonBorrar]="true"
        [size]="'sm'"
      ></app-input>
      <app-switch (changed)="cambioFiltroActivo($event)"></app-switch>
    </div>
    <div class="contenedor-botones">
      <app-boton
        [estilo]="'warning'"
        [etiqueta]="'Limpiar Filtros'"
      ></app-boton>
      <app-boton [etiqueta]="'Buscar'"></app-boton>
      <app-boton [estilo]="'danger'" [etiqueta]="'Borrar'"></app-boton>

      <app-modal-creacion class="buscar"></app-modal-creacion>
    </div>
  </div>
  <div class="contenedor-cuerpo">
    <div class="contenedor-tarjeta">
      <app-tarjeta-cliente
        *ngFor="let i of clientes"
        class="tarjetas"
        [cliente]="i"
        (click)="mostrarSeleccionado(i)"
      >
      </app-tarjeta-cliente>
    </div>
    <div class="contenedor-dato">
      <div class="datos">
        <div class="titulo-vaciar">
          <h4>Datos Personales</h4>
          <app-boton
            class="vaciar-Datos"
            [etiqueta]="'Vaciar'"
            [estilo]="'warning-sm'"
          ></app-boton>
        </div>

        <div class="seccion">
          <app-input
            [etiqueta]="'Numero de cliente'"
            [valorInput]="clienteSeleccionado.numero"
          ></app-input>
          <app-input
            [etiqueta]="'Documento:'"
            [valorInput]="clienteSeleccionado.documento"
          ></app-input>
        </div>
        <app-input
          [etiqueta]="'Nombre:'"
          [valorInput]="clienteSeleccionado.nombre"
        ></app-input>

        <app-input
          [etiqueta]="'Alias'"
          [valorInput]="clienteSeleccionado.alias"
        ></app-input>

        <app-text-area
          [etiqueta]="'Notas:'"
          [valorInput]="clienteSeleccionado.notas"
        ></app-text-area>
        <div class="boton-datos">
          <app-boton
            [etiqueta]="'Modificar'"
            [estilo]="'dark-sm'"
            (click)="modificar()"
          ></app-boton>
        </div>
      </div>
      <div class="datos">
        <div class="titulo-vaciar">
          <h4>Datos de Contacto</h4>

          <app-boton
            class="vaciar-Datos"
            [etiqueta]="'Vaciar'"
            [estilo]="'warning-sm'"
          ></app-boton>
        </div>

        <app-input
          [etiqueta]="'Direccion:'"
          [valorInput]="clienteSeleccionado.direccion"
        ></app-input>
        <div class="seccion">
          <app-input
            [etiqueta]="'Poblacion:'"
            [valorInput]="clienteSeleccionado.poblacion"
          ></app-input>
          <app-input
            [etiqueta]="'Provincia:'"
            [valorInput]="clienteSeleccionado.provincia"
          ></app-input>
          <app-input
            [etiqueta]="'Codigo Postal:'"
            [valorInput]="clienteSeleccionado.codigo_postal"
          ></app-input>
        </div>
        <div class="seccion">
          <app-input
            [etiqueta]="'Telefono:'"
            [valorInput]="clienteSeleccionado.telefono"
          ></app-input>
          <app-input
            [etiqueta]="'Comercial:'"
            [valorInput]="clienteSeleccionado.comercial"
          ></app-input>
        </div>
        <app-input
          [etiqueta]="'Email:'"
          [valorInput]="clienteSeleccionado.email"
        ></app-input>

        <app-input
          [etiqueta]="'Razon Social:'"
          [valorInput]="clienteSeleccionado.razon_social"
        ></app-input>
        <div class="boton-datos">
          <app-boton
            [etiqueta]="'Modificar'"
            [estilo]="'dark-sm'"
            (click)="modificar()"
          ></app-boton>
        </div>
      </div>
    </div>
  </div>
</div>
