.contenedor-general {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .contenedor-cabecera {
    height: 70px;
    background-color: var(--azul-beat);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    .contenedor-filtros {
      height: 100%;
      gap: 0.5rem;
      display: flex;
      align-items: flex-end;
      .contenido-filtro {
        color: whitesmoke;
      }
      app-switch {
        color: whitesmoke;
      }
    }
    .contenedor-botones {
      height: 100%;
      display: flex;
      justify-content: right;
      gap: 0.5rem;
      align-items: flex-end;
    }
  }
  #contenedor-cuerpo {
    height: 100%;
    background-color: var(--roto-beat);
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;

    #contenedor-tarjeta {
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .contenedor-dato {
      padding: 0.5rem;

      height: 100%;
      width: 450px;
      min-width: 450px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow-y: auto;

      .datos {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        gap: .5rem;
        border-radius: 5px;
        background-color: var(--blanco-beat);

        .titulo-vaciar {
          h4 {
            font-weight: bold;
            margin: 0;
          }
        }

        .seccion {
          display: flex;
          gap: 0.5rem;
          width: 100%;
          app-input {
            width: 100%;
          }
        }

        .boton-datos {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          flex-direction: row-reverse;
          gap: 0.5rem;
        }
      }
    }
  }
}

.noMostrar {
  display: none;
}

.ventana-emergente{
  height: 100vh;
  width: 100vw;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 5px;
}
