.contenedor-general {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "cabecera" "cuerpo";
  overflow-y: hidden;

  .contenedor-cabecera {
    height: 100%;
    grid-area: cabecera;
    background-color: var(--azul-beat);
    display: flex;
    width: 100%;
    justify-content: space-between;
    .contenedor-filtros {
      height: 100%;
      padding-left: 10px;
      display: flex;
      color: whitesmoke;
      justify-content: flex-start;
      gap: 0.5rem;

      .contenido-filtro {
        height: 100%;
        display: flex;
        gap: 2px;
        justify-content: flex-start;

        .vaciar {
          margin-top: 25px;
        }
      }
      .boton-filtro {
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        .limpiar {
          margin-top: 25px;
        }
        .buscar {
          margin-top: 25px;
        }
      }
    }
    .contenedor-botones {
      height: 100%;
      padding-right: 20px;
      .boton-filtro {
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        .limpiar {
          margin-top: 25px;
        }
        .buscar {
          margin-top: 25px;
        }
      }
    }
  }
  .contenedor-cuerpo {
    height: 100%;
    grid-area: cuerpo;
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 450px;
    overflow-y: hidden;

    .contenedor-tarjeta {
      min-width: 500px;
      height: 100%;
      display: flex;
      padding: 0.5rem;
      flex-wrap: wrap;
      justify-content: left;
      gap: 2rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .contenedor-dato {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow-y: auto;
      .boton-datos {
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        padding-top: 5px;
      }
      .boton-borrar {
        display: flex;
        justify-content: end;
        margin-right: 10px;
      }
      .seccion {
        display: flex;
        gap: 0.5rem;
        width: 100%;

        app-input {
          width: 100%;
        }
      }
      .titulo-vaciar {
        display: flex;
        justify-content: space-between;
        padding-right: 2px;
      }

      .datos {
        margin: 5px;
        padding: 7px;

        border-radius: 5px;
        background-color: var(--roto-beat);

        .notas {
          height: 100px;
          min-height: 100px;
          max-height: 100px;
          background-color: var(--amarillo-beat);
        }
        h4 {
          text-decoration: underline black;
        }
      }
      .datos-contacto {
        margin: 5px;
        padding: 5px;
        border: 2px grey solid;
        border-radius: 20px;

        h4 {
          text-decoration: underline black;
        }
      }
    }
  }

  
}
