<div class="contenedor-principal">
  <div class="contenedor-input">
      <div class="titulo">
          <h3>{{titulo}}</h3>
          <app-boton [estilo]="'close'" (enviarAccion)="clickedCerrar()"></app-boton>
        </div>
      <div class="cuerpo">
          <div class="seccion" *ngFor="let x of inputsText; let i = index">
            <h4>{{ tituloMostar(i)}}</h4>
            <div class="contenedor-inputs">
              <app-input *ngFor="let y of inputsText[1]; let j = index" [etiqueta]="inputsText[i][j]" (changed)="valorInputsText[i][j] = $event;" [ngClass]="{'noMostrar': inputsText[i][j]==null}" ></app-input>
            </div>
          </div>
          <p>{{mensaje}}</p>
      </div>
      <div class="botonera">
          <app-boton [etiqueta]="palabraBoton" (enviarAccion)="botonEnviarDatos()"></app-boton>
      </div>
  </div>
</div>
