<app-boton
  class="buscar"
  [estilo]="'success'"
  [etiqueta]="'Crear Usuario'"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
></app-boton>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body cuerpo-modal">
        <div class="datos">
            <div class="titulo-vaciar">
              <h4>Datos Personales</h4>
            </div>
            <div class="seccion">
              <app-input
                [etiqueta]="'Numero de cliente'"
              ></app-input>
              <app-input
                [etiqueta]="'Documento:'"
              ></app-input>
            </div>
            <app-input
              [etiqueta]="'Nombre:'"
            ></app-input>
    
            <app-input
              [etiqueta]="'Alias'"
            ></app-input>
    
            
          </div>
          <div class="datos">
            <div class="titulo-vaciar">
              <h4>Datos de Contacto</h4>
            </div>
            <app-input
              [etiqueta]="'Direccion:'"
            ></app-input>
            <div class="seccion">
              <app-input
                [etiqueta]="'Poblacion:'"
              ></app-input>
              <app-input
                [etiqueta]="'Provincia:'"
              ></app-input>
              <app-input
                [etiqueta]="'Codigo Postal:'"
              ></app-input>
            </div>
            <div class="seccion">
              <app-input
                [etiqueta]="'Telefono:'"
              ></app-input>
              <app-input
                [etiqueta]="'Comercial:'"
              ></app-input>
            </div>
            <app-input
              [etiqueta]="'Email:'"
            ></app-input>
    
            <app-input
              [etiqueta]="'Razon Social:'"
            ></app-input>
            <app-text-area
              [etiqueta]="'Notas:'"
            ></app-text-area>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" >Crear</button>
      </div>
    </div>
  </div>
</div>
