<app-boton
  class="buscar"
  [estilo]="'success'"
  [etiqueta]="'Crear Usuario'"
  data-bs-toggle="modal"
  data-bs-target="#crearModal"
></app-boton>
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body cuerpo-modal">
        <div class="datos">
          <div class="titulo-vaciar">
            <h4>Datos Personales</h4>
          </div>
          <div class="seccion">
            <app-input
              [etiqueta]="'Numero de cliente'"
              (changed)="set_model($event, 'numero')"
            ></app-input>
            <app-input
              [etiqueta]="'Documento:'"
              (changed)="set_model($event, 'documento')"
            ></app-input>
          </div>
          <app-input
            [etiqueta]="'Nombre:'"
            (changed)="set_model($event, 'nombre')"
          ></app-input>

          <app-input
            [etiqueta]="'Alias'"
            (changed)="set_model($event, 'alias')"
          ></app-input>
        </div>
        <div class="datos">
          <div class="titulo-vaciar">
            <h4>Datos de Contacto</h4>
          </div>
          <app-input
            [etiqueta]="'Direccion:'"
            (changed)="set_model($event, 'direccion')"
          ></app-input>
          <div class="seccion">
            <app-input
              [etiqueta]="'Poblacion:'"
              (changed)="set_model($event, 'poblacion')"
            ></app-input>
            <app-input
              [etiqueta]="'Provincia:'"
              (changed)="set_model($event, 'provincia')"
            ></app-input>
            <app-input
              [etiqueta]="'Codigo Postal:'"
              (changed)="set_model($event, 'codigo_postal')"
            ></app-input>
          </div>
          <div class="seccion">
            <app-input
              [etiqueta]="'Telefono:'"
              (changed)="set_model($event, 'telefono')"
            ></app-input>
            <app-input
              [etiqueta]="'Comercial:'"
              (changed)="set_model($event, 'comercial')"
            ></app-input>
          </div>
          <app-input
            [etiqueta]="'Email:'"
            (changed)="set_model($event, 'email')"
          ></app-input>

          <app-input
            [etiqueta]="'Razon Social:'"
            (changed)="set_model($event, 'razon_social')"
          ></app-input>
          <app-text-area
            [etiqueta]="'Notas:'"
            (changed)="set_model($event, 'notas')"
          ></app-text-area>
          <app-switch
            [numeroSwitch]="2"
            (changed)="input_modal.activo=($event=='1')"
            [valorInput]="0"
          ></app-switch>
          <p>{{input_modal.activo}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crear()" data-bs-dismiss="modal">
          Crear
        </button>
      </div>
    </div>
  </div>
</div>
